<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
<div class="navigation" th:fragment="navigation">
    <div class="nav_head">
        <div class="navWrap">
            <a href="#"><h1>개발의민족</h1></a>
            <form action="." method="post" class="search">
                <input type="text" id="search_box">
                <button type="button" class="searchButton"><i class="xi-search"></i></button>
            </form>

            <div class="memberButton">
                <a href="#" class="write">글쓰기</a>
                <a th:href="@{/pages/login}" class="login">로그인</a>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="navWrap">
            <ul>
                <li><a href="#">카테고리1</a></li>
                <li><a href="#">카테고리2</a></li>
                <li><a href="#">카테고리3</a></li>
                <li><a href="#">카테고리4</a></li>
                <li><a href="#">카테고리5</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>