@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gugi&display=swap');
*{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    color:#000;
    text-decoration:none;
}

html{
    height: 100%;
}

body{
    width:100%;
    min-width:700px;
    height:100%;
    display:flex;
    flex-direction: column;
    background-color:#EBEDF2;
}

.navigation{
    width:100%;
    height:95px;
    box-shadow:0 2px 5px 3px lightgray ;
}

.navigation .nav_head{
    width:100%;
    height:50px;
    display:flex;
    background-color:#7E49F2;
}

.navigation .nav_head .navWrap .memberButton{
    display:inline-block;
}

.navigation .nav_head .navWrap .memberButton a{
    color:#fff;
    display:inline-block;
    font-weight:bold;
    font-size:14px;
    margin-left:15px;
}

.navigation .nav_head .navWrap .memberButton a:hover{
    color:#AAA7F2;
}


.nav_head .navWrap .search{
    width:300px;
    height:30px;
    background-color:#fff;
    border:2px solid #AAA7F2;
    border-radius: 15px;
    margin:0 auto;
}


#search_box{
    width:260px;
    height:25px;
    float:left;
    padding:0 15px;
    border:none;
    outline:none;
    background:none;
    border-radius:15px;

}

.nav_head .navWrap .search .searchButton{
    border:none;
    background:none;
    float:right;
    margin-right:15px;
}

.navigation .menu{
    width:100%;
    height:45px;
    display:flex;
    background-color:#AAA7F2;
}

.navigation .menu .navWrap ul{
    padding:0;
    margin:0 auto;
}

.navigation .menu .navWrap ul li{
    display:inline-block;
    padding-right:10px;
}

.navigation .menu .navWrap ul li a{
    font-weight:bold;
    font-size:14px;
    color:#646970;
}

.navigation .menu .navWrap ul li a:hover{
    color:#7E49F2;
    font-weight:bold;
}

.navWrap{
    width:1200px;
    height:45px;
    display:flex;
    margin:0 auto;
    padding:10px 25px;
}

.navWrap h1{
    font-family: 'Gugi', cursive;
    color:#fff;
    font-size:23px;
    line-height:23px;
}

.footer{
    width:100%;
    margin-top:auto;
    text-align:center;
    padding-top:10px;
    height:40px;
    background-color:#7E49F2;
}

.footer h1{
    font-size:10px;
    font-weight:lighter;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    color:#fff;
}

.wrapper{
    flex:1;
}

.baseColor{
    background-color:#5852F2;
}