@charset "UTF-8";

.logoImg{
    width:100px;
}

.logo_login{
    margin-top:150px;
}

.logo_login div{
    width:300px;
    margin:0 auto 35px;
    text-align:center;
}
.logo_login div span{
    color:#7E49F2;
    font-family: 'Fredoka One', cursive;
    font-size:40px;
}

.loginForm{
    width:300px;
    margin:0 auto;
}

.loginForm input{
    display:block;
    margin:0 auto 10px;
    width:250px;
    height:40px;
    border:1px solid #ccc;
    border-radius:5px;
    padding:15px;
    font-size:12px;
}

.loginForm input:focus{
    outline:1px solid #AAA7F2;
}

.loginButton{
    display:block;
    margin:20px auto 0;
    background-color:#AAA7F2;
    border:none;
    border-radius:10px;
    width:250px;
    height:35px;
    color:#fff;
    font-weight:bold;
    font-size:15px;

}

.loginButton:hover{
    background-color: #7E49F2;
}

.loginForm div{
    width:250px;
    margin:0 auto;
}

.loginForm div span{
    float:right;
    color:#a9a9a9;
    margin-bottom:10px;
}

.loginForm div span a:hover{
    color:#7E49F2;
}

.log_info{
    text-decoration:none;
    color:#a9a9a9;
    font-weight:bold;
    font-size:11px;
}

.social_login{
    width:250px;
    margin:20px auto;
}

.social_login li{
    display:inline-block;
}

.social_middle{
   margin:0 25px;
}


.social_login li img{
    width:40px;
    height:40px;
    margin:0 auto;
    border-radius:20px;
    /*border:3px double #AAA7F2;*/
    box-shadow:0 0 0 3px #AAA7F2 inset;
}

.social_login li img:hover{
    border:3px solid #AAA7F2;
}